
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/_CodeSignature/CodeResources
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/ChangersSDK
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/de.lproj/Localizable.strings
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/en.lproj/Localizable.strings
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Headers/changers_sdk.h
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Headers/ChangersSDK-Swift.h
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Info.plist
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/arm64-apple-ios.swiftdoc
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/arm64-apple-ios.swiftinterface
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/arm64-apple-ios.swiftmodule
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/arm64.swiftdoc
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/arm64.swiftinterface
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/arm64.swiftmodule
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/Project/arm64.swiftsourceinfo
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/Project/x86_64.swiftsourceinfo
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/x86_64.swiftdoc
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/x86_64.swiftinterface
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/ChangersSDK.swiftmodule/x86_64.swiftmodule
Sample/Pods/changers-ios-sdk/ChangersSDK.framework/Modules/module.modulemap
Sample/Pods/changers-ios-sdk/README.md
Sample/Pods/Local Podspecs/changers-ios-sdk.podspec.json
